@use "variable" as *;
@use "svg" as *;

/* =================================
** コンセプト
------------------------------ */
.containerConcept {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2em;
    article {
        max-width: 111rem;
        padding: 8em 0 5em;
        display: flex;
        flex-direction: column;
    }
}
/* =================================
** 私たちにできること
------------------------------ */
.containerService {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2em;
    article {
        max-width: 111rem;
        padding: 2em 0 8em;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #f2f2f2;
        .serviceList {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            gap: 5em 0;
            margin-top: 5em;
            li {
                position: relative;
                display: grid;
                grid-template-columns: 48% 1fr;
                gap: 0 3em;
                font-size: inherit;
                .itemImage {
                    img {
                        aspect-ratio: 1.5;
                        object-fit: cover;
                    }
                }
                .wrapText {
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    h3 {
                        font-size: FZ(22);
                        letter-spacing: 0.08em;
                        font-weight: 500;
                    }
                    p {
                        font-size: FZ(16);
                        letter-spacing: 0.08em;
                        line-height: 1.8em;
                        text-align: justify;
                        margin-top: 1.6em;
                    }
                }
                &:nth-of-type(2n) {
                    flex-direction: row-reverse;
                    .wrapText {
                        order: -1;
                    }
                }
            }
        }
    }
}
/* =================================
** 会社概要
------------------------------ */
.containerCompany {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2em;
    article {
        max-width: 111rem;
        padding: 2em 0 3em;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #f2f2f2;
        dl {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: auto 1fr;
            margin-top: 3em;
            div {
                font-size: inherit;
                position: relative;
                grid-column: span 2;
                display: grid;
                grid-template-columns: subgrid;
                border-bottom: 1px solid #000;
                padding: 1em 2em;
                gap: 0 8em;
                dt {
                    font-size: FZ(14);
                    align-self: center;
                }
                dd {
                    font-size: FZ(14);
                    a {
                        font-size: inherit;
                    }
                    address {
                        font-size: inherit;
                        display: flex;
                        gap: 0 1em;
                        span {
                            i {
                                margin-left: 0.5em;
                            }
                        }
                    }
                    ul {
                        position: relative;
                        display: grid;
                        grid-template-columns: auto 1fr;
                        font-size: inherit;
                        gap: 0.5em 0;
                        li {
                            grid-column: span 2;
                            display: grid;
                            grid-template-columns: subgrid;
                            font-size: inherit;
                            gap: 0 1em;
                        }
                    }
                }
            }
        }
    }
}
