@use "variable" as *;
@use "svg" as *;
.containerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include SunSerif;
    padding: 5em 2em 2em;
    gap: 2em 0;
    @include sp {
        padding-inline: 4vw;
        gap: 4vw 0;
    }
    article {
        display: flex;
        justify-content: space-between;
        max-width: 128rem;
        padding: 3em 0 0;
        align-items: flex-start;
        border-top: 1px solid #f2f2f2;
        @include sp {
            flex-direction: column;
            justify-content: unsafe;
            align-items: center;
            gap: 10vw 0;
        }
        .boxShopInfo {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            gap: 1em 0;
            @include sp {
                padding-inline: 4vw;
            }
            .wrapLogo {
                @include sp {
                    width: 100%;
                }
            }
            address {
                font-size: inherit;
                display: flex;
                flex-direction: column;
                gap: 0.5em 0;
                @include sp {
                    align-items: center;
                }
                span,
                a {
                    font-size: FZ(14);
                }
            }
            nav {
                position: relative;
                font-size: inherit;
                display: flex;
                gap: 0 1.4em;
                @include sp {
                    justify-content: center;
                }
                .snsFb,
                .snsInsta {
                    width: 4rem;
                    @include sp {
                        width: 8vw;
                    }
                }
                .snsLine {
                    width: 13rem;
                    @include sp {
                        width: 25vw;
                    }
                }
            }
        }
        .navBan {
            display: grid;
            grid-auto-flow: row;
            gap: 1em 0;
            font-size: inherit;
            @include sp {
                gap: 8vw 0;
                width: 100%;
                padding-inline: 4vw;
            }
            .itemBan {
                width: 32rem;
                @include sp {
                    width: 100%;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    .navMenu {
        position: relative;
        font-size: inherit;
        display: flex;
        align-items: center;
        @include sp {
            display: none;
        }
        .itemLink {
            position: relative;
            font-size: FZ(16);
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 0.2em 1em;
            @include sp {
                width: 100%;
                text-align: center;
                padding: 1vw 0;
                font-size: 2.8vw;
            }
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                background-color: $base-black;
                @include sp {
                    top: unset;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                }
            }
            &:first-of-type {
                &::before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $base-black;
                    @include sp {
                        width: 100%;
                        height: 1px;
                    }
                }
            }
            &.linkTop {
                color: #0842af;
            }
        }
    }
    .copyright {
        font-size: FZ(12);
        text-align: center;
    }
}
